{% extends 'basefront.html.twig' %}

{% block title %} projet {% endblock %}

{% block content %}

<div class="input-group">
    <input id="search-input" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
           aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>


<div class="rn-collection-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ path('app_projets_new', {'categoryId': categoryId}) }}">Create new project</a>
                </div>
            </div>
            <!-- start single collection -->
            {% for projet in projets %}
            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                <a href="{{ path('app_projets_show', {'id': projet.id}) }}" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail mb-3">
                            <img style="width: 300px; height: 300px;" src="{{ asset('uploads/photos/' ~ projet.photoURL) }}" alt="Nft_Profile">
                        </div>
                        <div class="collection-deg">
                            <h6 class="title">{{ projet.nom }}</h6>
                        </div>
                        
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span style="margin-right: auto;">{{ projet.DateDeCreation ? projet.DateDeCreation|date('Y-m-d') : '' }}</span>
                            <div style="display: flex; justify-content: center; align-items: center;" class="project-actions">


                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- End single collection -->
        </div>
        <div class="row">
            <div class="col-lg-12" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <nav class="pagination-wrapper" aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_projets_index', {id: categoryId, page: currentPage - 1}) }}" class="first:ml-0 text-xs font-semibold flex w-full items-center justify-center px-4 py-3 rounded-l-lg border border-r-0 border-gray-200 bg-white text-gray-500 hover:bg-gray-100">
                                Previous
                            </a>
                        </li>
                        {% endif %}
                        {% for i in 1..totalPages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_projets_index', {id: categoryId, page: i}) }}" class="text-xs font-semibold flex w-full items-center justify-center px-4 py-3 leading-tight border border-gray-200 bg-white text-gray-500 hover:bg-gray-100 {{ currentPage == i ? 'bg-gray-300' : '' }}">
                                {{ i }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if currentPage < totalPages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_projets_index', {id: categoryId, page: currentPage + 1}) }}" class="text-xs font-semibold flex w-full items-center justify-center px-4 py-3 rounded-r-lg border border-gray-200 bg-white text-gray-500 hover:bg-gray-100">
                                Next
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mt-4">
            <nav class="block">
            </nav>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#search-input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".rn-collection-inner-one").each(function () {
                var projectText = $(this).text().toLowerCase();
                var shouldShow = projectText.indexOf(value) > -1;
                $(this).toggle(shouldShow);
                // Hide edit and delete buttons if the project does not match the search
                if (!shouldShow) {
                    $(this).find(".edit-delete-buttons").hide();
                } else {
                    $(this).find(".edit-delete-buttons").show();
                }
            });
        });
    });
</script>



{% endblock %}
