{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
        <div class="create-area rn-section-gapTop">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                    <!-- file upload area -->
                    <div class="upload-area">

                        <div class="upload-formate mb--30">
                            <h6 class="title">
                                Upload file
                            </h6>
                            <p class="formate">
                                Drag or choose your file to upload
                            </p>
                        </div>

                        <div class="brows-file-wrapper">
                        <div class="custom-file">
                            {{ form_widget(form.image, {'id': 'photoURL', 'class': 'custom-file-input', 'onchange': 'previewImage(this)', 'aria-describedby': 'inputGroupFileAddon01'}) }}
                            <label class="custom-file-label" for="photoURL">Choose file</label>
                        </div>
                        </div>
                    </div>
                    <!-- end upoad file area -->

                    <div class="mt--100 mt_sm--30 mt_md--30 d-none d-lg-block">
                        <h5> Note: </h5>
                        <span> Service fee : <strong>2.5%</strong> </span> <br>
                        <span> You will receive : <strong>25.00 ETH $50,000</strong></span>
                    </div>

                </div>

                <div class="col-lg-7">
                    <div class="form-wrapper-one">
                        <form class="row" action="#">


    
    <div class="col-md-12">
                                <div class="input-box pb--20">
                                    <label for="name" class="form-label">Product Name</label>
                                    {{ form_widget(form.name, {'attr': {'id': 'name', 'placeholder': 'e. g. Digital Awesome Game'}}) }}
                                </div>
                            </div>
    {{ form_errors(form.name) }}
    <div class="col-md-4">
                                <div class="input-box pb--20">
                                    <label for="dollerValue" class="form-label">Item Price in $</label>
                                    {{ form_widget(form.price, {'attr': {'id': 'dollerValue', 'placeholder': 'e.g., $20'}}) }}
                                </div>
                            </div>
    {{ form_errors(form.price) }}
                            <div class="input-box pb--20">
                            <label for="dollerValue" class="form-label">Project</label>
                                <div class="collection-single-wized">
                                    <div class="create-collection-input">
                                            {{ form_widget(form.project) }}
                                    </div>
                                </div>
                            <label for="dollerValue" class="form-label">Item Status</label>
                                <div class="collection-single-wized">
                                    <div class="create-collection-input">
                                            {{ form_widget(form.status) }}
                                    </div>
                                </div>
                            </div>
    {{ form_errors(form.status) }}


   



    <button class="btn btn-primary btn-large w-100">{{ button_label|default('Save') }}</button>
    {% if show_delete_button is defined and show_delete_button %}
    {{ include('nft/delete_form.html.twig') }}

{% endif %}
                            
            </div>
        </div>
    </div>


{{ form_end(form) }}
