

{% block content %}
    <div class="login-area rn-section-gapTop">
        <div class="container">
            <div class="row g-5">
                <div class="offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12 ">
                    <div class="form-wrapper-one registration-area">
                        <h4>Modify Account</h4>
                    
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="mb-5">
                                <label for="firstName" class="form-label">First name</label>
                                {{form_widget(form.first_name) }}
                            </div>
                            <div class="mb-5">
                                <label for="sastName" class="form-label">Last name</label>
                                {{form_widget(form.last_name) }}
                            </div>

                            <div class="mb-5">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                {{form_widget(form.email) }}
                            </div>
			                <div class="mb-5">
                                    <label for="address" class="form-label">Address</label>
                                    {{ form_widget(form.address) }}
                                </div>
                                <div class="mb-5">
                                <label for="tel" class="form-label">Phone Number</label>
                                {{ form_widget(form.tel) }}
                                </div>
                                <div class="mb-5">
                                <label for="gender" class="form-label">Gender</label>
                                {{ form_widget(form.gender) }}
                                </div>
                                <div class="mb-5">
                                    <br>
                                <label for="age" class="form-label">Age</label>
                                {{ form_widget(form.age) }}
                                </div>
                                <div class="mb-5">
                                <label for="newPassword" class="form-label"> Password</label>
                                {{form_widget(form.plainPassword) }}
                                </div>
                

                            <div class="mb-5 rn-check-box">
                                {{ form_widget(form.captcha) }}
                                {{ form_errors(form.captcha) }}
                            </div>

                            <div class="mb-5 rn-check-box">
                                <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                                <label class="rn-check-box-label" for="exampleCheck1">Allow to all tearms & condition</label>
                            </div>
                          
                            
                            <button type="submit" class="btn btn-primary mr--15">SAVE</button>
                            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}