

{% block content %}
    <div class="container mt-4">
        

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(form.nom, 'Name', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Enter name'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter description'}}) }}
                    {{ form_errors(form.description) }}
                </div>



                <div class="mb-3">
                    {{ form_label(form.photoURL, 'Photo URL', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.photoURL, {'attr': {'class': 'form-control', 'placeholder': 'Enter photo URL'}}) }}
                    {{ form_errors(form.photoURL) }}
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{{ path('app_dash_board_category_index') }}" class="btn btn-secondary">Back to List</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
