{{ form_start(form, {'attr': {'class': 'user-form'}}) }}
<div class="card-body">
  <div class="form-group">
    {{ form_label(form.first_name, 'First Name:') }}
    {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.first_name) }}
  </div>

  <div class="form-group">
    {{ form_label(form.last_name, 'Last Name:') }}
    {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.last_name) }}
  </div>

  <div class="form-group">
    {{ form_label(form.email, 'Email:') }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.email) }}
  </div>

  <div class="form-group">
    {{ form_label(form.address, 'Address:') }}
    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.address) }}
  </div>

  <div class="form-group">
    {{ form_label(form.tel, 'Telephone Number:') }}
    {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.tel) }}
  </div>

  <div class="form-group">
    {{ form_label(form.age, 'Age:') }}
    {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.age) }}
  </div>

  <div class="form-group">
    {{ form_label(form.gender, 'Gender:') }}
    {{ form_widget(form.gender, {'expanded': true}) }}
    {{ form_errors(form.gender) }}
  </div>

  <div class="form-group">
    {{ form_label(form.plainPassword, 'Password:') }}
    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.plainPassword) }}
  </div>
</div>
<div class="button-container" style="text-align: center;">
  <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
